.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.canvas-panel{
  width: 40%;
  margin: auto;
  margin-top: 25px;
}

#imgCanvas{
 /* height: 600px ;
  margin-top: 25px;
  width: 600px;
  background-color: red;*/
  height: 600px;
  width: 600px;
  background-color: red;
  position: relative;
  margin-top: 25px;
  /*padding-top: 50%; 1:1 Aspect Ratio */
}

#imgCrop{
 /* height: 600px ;
  margin-top: 25px;
  width: 600px;
  background-color: red;*/
  background-color: red;
  position: relative;
  margin-top: 25px;
  width: 100%;
  /*padding-top: 50%; 1:1 Aspect Ratio */
}

#menuToggle{
  height: 100px;
  width: 100px;
  padding: 0;
  margin: 0;
}
#inputImage{
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  opacity: 0;
}







@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .canvas-panel{
    width: 100%;
  }


}