a {
    color: #3c78d8;
    text-decoration: none;
}

table#sign {
    text-align: start;
    width: 400px;
    border: 0px solid black;
}

tr.colLine > td {
    /*background: yellow;*/
    line-height: 0px;
    height: 3px;
    width: 20px;
}

tr.blank {
    border: 0px solid black;
    height: 10px;
    background: transparent
}

tr.blank > td {
    line-height: 0px;
    height: 10px
}

tr.infoBox {
    background: #f3f3f3; /*border:0px solid black;*/

}

tr.infoBox > td.picture {
    padding: 0px;
    text-align: center;
    background: transparent;
    border-radius: 6px 0px 0px 6px;
    -webkit-border-radius: 6px 0px 0px 6px;
    -moz-border-radius: 6px 0px 0px 6px; /* Purtroppo su FF opera solo sul bordo e non sul background della cella */
}

tr.infoBox > td.picture > img {
    width: 82%;
}

tr.infoBox > td.info {
    line-height: 16px;
    font-family: arial, sans-serif;
    font-size: 10px;
    color: #808080;
    padding: 8px 8px 8px 0px;
    border-radius: 0px 6px 6px 0px;
    -webkit-border-radius: 0px 6px 6px 0px;
    -moz-border-radius: 0px 6px 6px 0px; /* Purtroppo su FF opera solo sul bordo e non sul background della cella */
}


td.red{
    background-color: #ea4335;
}
td.green{
    background-color: #34a853;
}
td.blue{
    background-color: #4285f4;
}
td.yellow{
    background-color: #fbbc05;
}

span.red{
    color: #ea4335;
}
span.green{
    color: #34a853;
}
span.blue{
    color: #4285f4;
}
span.yellow{
    color: #fbbc05;
}
